{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="section inner-page">
    <input type="hidden" id="hidden_username" value="{{ username }}">
    <div class="container ">
        <form method="post" name="dynamic_buttom" action={% url "dynamic" %} enctype="multipart/form-data"
            style="font-size:12pt;">
            {% csrf_token %}

            <!-- <div class="text-center mb-4">
                <h2>選擇sav檔</h2>
                <div>
                    <input type="file" name="sav_file" accept=".sav">
                </div>
            </div> -->
            <div class="text-center mb-4">
                <br>
                <h3>選擇sav檔</h3>
                <div id="yearCheckboxes">
                    {% for year in years %}
                    <label>
                        <input type="checkbox" class="{{ year }}" name="year" value="{{ year }}"
                            onclick="checkOnlyOne(this); toggleAdditionalFields(this);"> {{ year }}
                        <!-- <input type="checkbox" class="{{ year }}" name="year" value="{{ year }}"> {{ year }} -->
                    </label>
                    {% endfor %}
                </div>
            </div>


            <!-- <div class="text-center mb-4">
                <br></br>
                <h3>選擇sav檔</h3>
                <div>
                    {% for year in years %}
                        <label>
                            <input type="checkbox" name="year" value="{{ year }}"> {{ year }}
                        </label>
                    {% endfor %}
                </div>
            </div> -->

            <div class="row justify-content-center mb-4">
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="dv_file" name="dv_file">
                        <label class="input-group-text" for="file1">選擇dyr檔</label>

                    </div>
                    <!-- <small class="form-text text-muted">未選擇任何檔案</small> -->
                </div>
            </div>

            <div class="row justify-content-center mb-4">
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="dll_file" name="dll_file">
                        <label class="input-group-text" for="file2">選擇dll檔</label>
                        <!-- <button type="button" class="btn btn-primary">上傳dll檔</button> -->
                    </div>
                    <!-- <small class="form-text text-muted">未選擇任何檔案</small> -->
                </div>
            </div>

            <div class="row justify-content-center mb-4">
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="co-gen_file" name="co-gen_file">
                        <label class="input-group-text" for="file3">選擇co-gen檔</label>
                        <!-- <button type="button" class="btn btn-primary">上傳co-gen檔</button> -->
                    </div>
                    <!-- <small class="form-text text-muted">未選擇任何檔案</small> -->
                </div>
            </div>
            <!-- <button type="button" class="btn btn-primary">上傳</button> -->
            <div class="row justify-content-center mb-4">
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <tr>
                            <td>initial time</td>
                            <td><input type="text" name="initial_time" required=""></td>
                        </tr>
                    </div>
                    <!-- <small class="form-text text-muted">未選擇任何檔案</small> -->
                </div>
            </div>
            <div class="row justify-content-center mb-4">
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <tr>
                            <td>bus fault time</td>
                            <td><input type="text" name="bus_fault_time" required=""></td>
                        </tr>
                    </div>
                    <!-- <small class="form-text text-muted">未選擇任何檔案</small> -->
                </div>
            </div>
            <div class="row justify-content-center mb-4">
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <tr>
                            <td>trip line time</td>
                            <td><input type="text" name="trip_line_time" required=""></td>
                        </tr>
                    </div>
                    <!-- <small class="form-text text-muted">未選擇任何檔案</small> -->
                </div>
            </div>
            <div class="row justify-content-center mb-4">
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <tr>
                            <td>clear fault time </td>
                            <td><input type="text" name="clear_fault_time" required=""></td>
                        </tr>
                    </div>
                    <!-- <small class="form-text text-muted">未選擇任何檔案</small> -->
                </div>
            </div>





            <div id="additionalFields" style="display: none;">
                <div class="row justify-content-center mb-4">
                    <div class="col-md-6">
                        <tr>
                            <td>選擇machine bus</td>
                            <td>
                                <div class="autocomplete-container" style="position: relative;">
                                    <input type="text" id="MachineInput" name="MachineInput" required>
                                    <div id="MachineDropdown" class="autocomplete-dropdown"
                                        style="display: none; position: absolute; width: 100%; max-height: 200px; overflow-y: auto; background: white; border: 1px solid #ddd; z-index: 1000;">
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </div>
                </div>
                <div class="row justify-content-center mb-4">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="machine_buses">已選擇的 machine bus</label>
                            <input type="text" class="form-control" id="selected_machine_buses"
                                name="selected_machine_buses">

                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mb-4">
                    <div class="col-md-6">
                        <tr>
                            <td>選bus fault</td>
                            <td>
                                <div class="autocomplete-container" style="position: relative;">
                                    <input type="text" id="BusInput" name="dynamic_bus_fault" required>
                                    <div id="BusDropdown" class="autocomplete-dropdown"
                                        style="display: none; position: absolute; width: 100%; max-height: 200px; overflow-y: auto; background: white; border: 1px solid #ddd; z-index: 1000;">
                                    </div>
                                </div>
                            </td>
                        </tr>

                    </div>
                </div>

                <div class="row justify-content-center mb-4">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="dynamic_trip_line">選trip line</label>
                            <select class="form-control" id="dynamic_trip_line" name="dynamic_trip_line">

                                <!-- 添加選項 -->
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mb-4">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="selected_trip_lines">已選擇的 trip lines</label>
                            <input type="text" class="form-control" id="selected_trip_lines" name="selected_trip_lines">
                        </div>
                    </div>
                </div>
            </div>



            <div class="text-center">
                <button type="submit">執行暫態</button>
            </div>
            <br></br>
            <p class="d-flex flex-column align-items-center">暫態結果</p>
            <div class="d-flex flex-column align-items-center" id="errorcircuit-result"
                style="padding: 10px;text-align: center;margin: auto;font-size:12pt;"
                style="color: black;padding: 32px;text-align: center;">

            </div>
        </form>
    </div>
</div>
<!-- <script> src="{% static 'js/page/dynamic_script.js' %}"</script> -->
<script>
    window.mayear = ""; //設定machine year為全域變數
    // =============================================================
    // ========================  選擇 year後的動作  =================
    // =============================================================     
    function checkOnlyOne(checkbox) {
        var checkboxes = document.getElementsByName('year')
        checkboxes.forEach((item) => {
            if (item !== checkbox) item.checked = false
        }
        )
    }

    function toggleAdditionalFields(checkbox) {
        var checkboxes = document.getElementsByName('year');
        var additionalFields = document.getElementById('additionalFields');
        var selectedYear = Array.from(checkboxes).find(checkbox => checkbox.checked);

        if (selectedYear) {
            additionalFields.style.display = 'block';
            fetch_MachineBus_List(selectedYear.value);
            //window.mayear=`machine${selectedYear.value}`;
            //clear_fault_time.value = window.mayear;
            fetch_BusFault_List(selectedYear.value);
        }
        else {
            additionalFields.style.display = 'none';
        }
    }


    // =============================================================
    // ========================  Machine Bus  ======================
    // =============================================================    
    function fetch_MachineBus_List(year) {
        window.MachineData = window.MachineData || [];
        // let MachineData = [];
        const MachineInput = document.getElementById('MachineInput');
        const MachineDropdown = document.getElementById('MachineDropdown');

        // 當點擊文字框時觸發API請求
        MachineInput.addEventListener('focus', async () => {
            if (!window.MachineData || window.MachineData.length === 0) {
                try {
                    const username = '{{ request.user }}';  // 從Django模板獲取用戶名
                    const response = await fetch(`/api/machine-list-of-dynamic/?year=machine_${year}&user=${username}&labeltype=machine`);
                    const jsonResponse = await response.json();
                    if (jsonResponse.data) {  // 修改這裡來匹配你的API格式
                        MachineData = jsonResponse.data;
                        // console.log('處理後的 MachineData：', MachineData);
                        showSuggestions(MachineInput.value);
                    }
                } catch (error) { console.error('Error fetching Machine bus list:', error); }
            } else { showSuggestions(MachineInput.value); }
        });
    }
    // 監聽輸入變化
    MachineInput.addEventListener('input', () => {
        showSuggestions(MachineInput.value);
    });

    // 點擊文件其他地方時關閉下拉選單
    document.addEventListener('click', (e) => {
        if (!e.target.closest('.autocomplete-container')) {
            MachineDropdown.style.display = 'none';
        }
    });

    // 顯示建議選項
    function showSuggestions(inputValue) {
        const MachineDropdown = document.getElementById("MachineDropdown");
        if (!MachineDropdown) {
            console.error("MachineDropdown element not found!");
            return;
        }

        const filteredData = (window.MachineData).filter(machine => {
            const busNumber = (machine.num || "").toString();
            const busName = (machine.name || "").trim(); //add name filter
            // 允許用戶輸入「編號」或「名稱」來搜尋
            return busNumber.includes(inputValue) || busName.toLowerCase().includes(inputValue.toLowerCase());
        });

        MachineDropdown.innerHTML = "";

        if (filteredData.length > 0) {
            filteredData.forEach(machine => {
                const div = document.createElement("div");
                div.classList.add("suggestion-item");
                div.textContent = `${machine.num}-${machine.name.trim()}-${machine.machine_id}`;
                // 設定點擊事件，將 `div` 內容填入 `input`
                div.onclick = function () {
                    // 添加事件監聽器
                    var select_machine = document.getElementById('MachineInput');
                    select_machine.addEventListener('change', updateSelectedMachineBuses);
                    select_machine.value = this.textContent;
                    document.getElementById("MachineDropdown").style.display = "none"; // 隱藏下拉選單

                    // **手動觸發 `change` 事件**
                    var event = new Event('change', { bubbles: true });
                    select_machine.dispatchEvent(event);
                };
                MachineDropdown.appendChild(div);
            });
            MachineDropdown.style.display = 'block';
        } else { MachineDropdown.style.display = 'none'; }

    }
    function updateSelectedMachineBuses() {
        var firstInput = document.getElementById('MachineInput');
        var secondInput = document.getElementById('selected_machine_buses');
        var firstInputValue = firstInput.value;
        var secondInputValue = secondInput.value;
        // 判斷第二個欄位的內容是否為空，空的直接複製第一欄位
        if (secondInputValue.length < 1) {
            secondInput.value = firstInputValue;
        }
        else {
            // 判斷第一個欄位的內容是否與第二個欄位內容重複
            if (firstInputValue.length > 0 && !secondInputValue.includes(firstInputValue)) {
                // 若無重複，則將兩者的字串相加
                secondInput.value = firstInputValue + ',' + secondInputValue;
            }
        }

    }

    // =============================================================
    // ========================  bus fault  ========================
    // =============================================================
    function fetch_BusFault_List(year) {
        window.BusData = window.BusData || [];
        // let BusData = [];
        const BusInput = document.getElementById('BusInput');
        const BusDropdown = document.getElementById('BusDropdown');

        // 當點擊文字框時觸發API請求
        BusInput.addEventListener('focus', async () => {
            if (!window.BusData || window.BusData.length === 0) {
                try {
                    const username = '{{ request.user }}';  // 從Django模板獲取用戶名
                    const response = await fetch(`/api/bus-list-of-dynamic/?year=bus_${year}&user=${username}&labeltype=bus`);
                    const jsonResponse = await response.json();
                    if (jsonResponse.data) {  // 修改這裡來匹配你的API格式
                        BusData = jsonResponse.data;
                        // console.log('處理後的 BusData：', BusData);
                        showSuggestBUS(BusInput.value);
                    }
                } catch (error) { console.error('Error fetching bus list:', error); }
            } else { showSuggestBUS(BusInput.value); }
        });
    }

    // 監聽輸入變化
    BusInput.addEventListener('input', () => {
        showSuggestBUS(BusInput.value);
    });

    // 點擊文件其他地方時關閉下拉選單
    document.addEventListener('click', (e) => {
        if (!e.target.closest('.autocomplete-container')) {
            BusDropdown.style.display = 'none';
        }
    });
    // 顯示BUS建議選項
    function showSuggestBUS(inputValue) {
        const BusDropdown = document.getElementById("BusDropdown");
        if (!BusDropdown) {
            console.error("BusDropdown element not found!");
            return;
        }

        const filteredData = (window.BusData).filter(Bus => {
            const busNumber = (Bus.num || "").toString();
            const busName = (Bus.name || "").trim(); //add name filter
            const zoneNumber = (Bus.zonenum || "").toString();
            const zoneName = (Bus.zonename || "").trim(); //add name filter            
            // 允許用戶輸入「編號」或「名稱」來搜尋
            return busNumber.includes(inputValue) || busName.toLowerCase().includes(inputValue.toLowerCase()) || zoneNumber.includes(inputValue) || zoneName.toLowerCase().includes(inputValue.toLowerCase());
        });

        BusDropdown.innerHTML = "";

        if (filteredData.length > 0) {
            filteredData.forEach(Bus => {
                const div = document.createElement("div");
                div.classList.add("suggestion-item");
                div.textContent = `${Bus.num}-${Bus.name.trim()}-${Bus.zonenum}-${Bus.zonename.trim()}`;

                // 設定點擊事件，將 `div` 內容填入 `input`
                div.onclick = function () {
                    var select_Bus = document.getElementById('BusInput');
                    select_Bus.value = this.textContent;
                    document.getElementById("BusDropdown").style.display = "none"; // 隱藏下拉選單
                    // 初始化 trip line 下拉選單
                    updateBusFault();
                    const BusNO = `${Bus.num}`;
                    fetchTripLineList(BusNO);

                };
                BusDropdown.appendChild(div);
            });
            BusDropdown.style.display = 'block';
        } else { BusDropdown.style.display = 'none'; }

    }

    // =============================================================
    // ========================  TripLine  ========================
    // =============================================================    
    function updateBusFault()  //清空TripLine 欄位 初始化用
    {
        var inputField_trip_lines = document.getElementById('selected_trip_lines');
        inputField_trip_lines.value = "";
    }

    function fetchTripLineList(BusNO) {
        var year = document.querySelector('input[name="year"]:checked').value;
        var username = document.getElementById('hidden_username').value;

        fetch(`/api/trip-line-list-of-dynamic/?year=tripline_${year}&user=${username}&labeltype=tripline&busfaultnum=${BusNO}`)
            .then(response => response.json())
            .then(jsonResponse => {
                if (jsonResponse.data) {
                    populateTripLineDropdown(jsonResponse.data);
                } else {
                    console.error('API response does not contain data');
                }
            })
            .catch(error => {
                console.error('Error fetching trip line list:', error);
            });
    }

    function populateTripLineDropdown(tripLineList) {
        var select_trip = document.getElementById('dynamic_trip_line');
        select_trip.innerHTML = ''; // 清空現有選項
        // 添加默認的"請選擇"選項
        var defaultOption = document.createElement('option');
        defaultOption.textContent = "請選擇";
        defaultOption.value = "";
        select_trip.appendChild(defaultOption);

        tripLineList.forEach(tripLine => {
            var option = document.createElement('option');
            option.textContent = `${tripLine.num} - ${tripLine.name}- ${tripLine.id}`;
            // option.value = JSON.stringify({
            //     busFaultNum: busFaultNum,
            //     tripLineNum: tripLine.num,
            //     tripLineName: tripLine.name,
            //     tripLineId: tripLine.circuit_id // 假設 API 返回的數據中包含 id
            // });

            select_trip.appendChild(option);
        });
        // if (tripLineList.length === 1) {
        //     updateSelectedTripLines();
        // }         

        // 添加事件監聽器
        select_trip.addEventListener('change', updateSelectedTripLines);
    }

    function updateSelectedTripLines() {
        var select_trip_by_dynamic_trip_line = document.getElementById('dynamic_trip_line');
        var inputField_trip_lines = document.getElementById('selected_trip_lines');
        var selectedOption = select_trip_by_dynamic_trip_line.options[select_trip_by_dynamic_trip_line.selectedIndex];
        console.log(select_trip_by_dynamic_trip_line.selectedIndex);

        if (selectedOption.value) {
            var currentValue = inputField_trip_lines.value;

            // var tripLineData = JSON.parse(selectedOption.value);
            var newValue = selectedOption.text;


            if (currentValue) {
                // 檢查是否已經包含此選項，如果沒有才添加
                if (!currentValue.includes(newValue)) {
                    inputField_trip_lines.value = currentValue + ', ' + newValue;
                }
            }
            else {
                inputField_trip_lines.value = newValue;
            }

            // 重置選擇
            // select.value = '';
        }
    }
    document.querySelector('form[name="dynamic_buttom"]')
        .addEventListener('submit', function (e) {
            // 不需要阻止默認提交，因為我們希望表單正常提交
            var selectedMachineBuses = document.getElementById('selected_machine_buses').value;
            console.log("Submitting form with selected_machine_buses:", selectedMachineBuses);
            // 不需要阻止默認提交，因為我們希望表單正常提交
            var dynamic_trip_line = document.getElementById('selected_trip_lines').value;
            console.log("Submitting form with dynamic_trip_line:", dynamic_trip_line);
            // 如果需要，可以在這裡進行額外的驗證或處理
        }
        );    
</script>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const executionResultDiv = document.getElementById('errorcircuit-result');

        function fetchExecutionStatus() {
            fetch("{% url 'dynamic_status' %}", {
                method: 'GET',
                headers: {
                    'X-CSRFToken': csrfToken,
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    // 根據不同狀態顯示不同的訊息和樣式
                    switch (data.status) {
                        case 'wait':
                            executionResultDiv.innerHTML = `
                            <div class="alert alert-info" d-flex align-items-center justify-content-center">
                                <div class=" text-primary mr-2" role="status">
                                    <span class="sr-only">載入中...</span>
                                </div>
                                ${data.message}
                            </div>
                        `;
                            // 繼續輪詢
                            // setTimeout(fetchExecutionStatus, 5000);
                            break;

                        case 'processing':
                            executionResultDiv.innerHTML = `
                            <div class="alert alert-info" d-flex align-items-center justify-content-center">
                                <div class="spinner-border text-primary mr-2" role="status">
                                    <span class="sr-only">載入中...</span>
                                </div>
                                ${data.message}
                            </div>
                        `;
                            // 繼續輪詢
                            setTimeout(fetchExecutionStatus, 5000);
                            break;

                        case 'success':
                            executionResultDiv.innerHTML = `
                            <div class="alert alert-success" d-flex align-items-center justify-content-center">
                                <i class="fas fa-check-circle mr-2"></i>
                                ${data.message}
                            </div>
                        `;
                            break;

                        case 'error':
                            executionResultDiv.innerHTML = `
                            <div class="alert alert-danger" d-flex align-items-center justify-content-center">
                                <i class="fas fa-exclamation-triangle mr-2"></i>
                                ${data.message}
                            </div>
                        `;
                            break;

                        default:
                            executionResultDiv.innerHTML = `
                            <div class="alert alert-warning">
                                未知狀態
                            </div>
                        `;
                    }
                })
                .catch(error => {
                    executionResultDiv.innerHTML = `
                    <div class="alert alert-danger">
                        <i class="fas fa-exclamation-triangle mr-2"></i>
                        發生錯誤: ${error.message}
                    </div>
                `;
                });
        }

        // 立即開始獲取狀態
        fetchExecutionStatus();
    });
</script>
{% endblock %}