{% extends "base.html" %}

{% block content %}

  <section class="inner-page">

    <div class="container">
      <form method="GET" action= {% url 'modelfy_data_of_which_Label' 'Machine' %}> 
        
        <br></br>
        <div style="text-align: center; font-size:14pt;">
          
          <div>
            {% for year in years %}
              <input type="checkbox" id="{{ year }}" name="year" value="{{ year }}">
              <label for="{{ year }}">{{ year }}</label>
            {% endfor %}
          </div>
        
        </div>
        <br></br>
        <input  type="submit" style='font-size:12pt;' class="d-grid gap-2 col-6 mx-auto table-responsive btn btn-success" name="write" value="確定修改">
        
        <!-- <p class="mb-4">ZONE Table </p> -->
        <br></br> 
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary" style="font-size:10pt;">Machine Data of {{ USER }}</h6>
          </div>
          <div class="card-body">
            <div class="table-responsive" style="font-size:10pt; height: 200px; overflow-y: scroll;" >
              
                
              <table>
                  
                <tr>
                  <td>Bus Number</td>
                  <td><input type="text" name="BusNumber"></td>
                </tr>
                <tr>
                  <td>ID</td>
                  <td><input type="text" name="ID"></td>
                </tr>                
                <tr>
                  <td>Machine Control Mode</td> 
                  <td><input type="number" name="MachineControlMode"></td>
                </tr>
                <tr>
                  <td>BASE</td>
                  <td><input type="text" name="BASE"></td>
                </tr>
                <tr>
                  <td>Pgen</td>
                  <td><input type="text" name="Pgen"></td>
                </tr>
                <tr>
                  <td>Qgen</td>
                  <td><input type="text" name="Qgen"></td>
                </tr>
                <tr>
                  <td>Qmax</td>
                  <td><input type="text" name="Qmax"></td>
                </tr>          
                <tr>
                  <td>Qmin</td>
                  <td><input type="text" name="Qmin"></td>
                </tr>  
                <tr>
                  <td>Pmax</td>
                  <td><input type="text" name="Pmax"></td>
                </tr>  
                <tr>
                  <td>Pmin</td>
                  <td><input type="text" name="Pmin"></td>
                </tr>  
                <tr>
                  <td>Mbase</td>
                  <td><input type="text" name="Mbase"></td>
                </tr>  
                <tr>
                  <td>R Source</td>
                  <td><input type="text" name="RSource"></td>
                </tr>  
                <tr>
                  <td>X Source</td>
                  <td><input type="text" name="XSource"></td>
                </tr> 
                <!-- seq machine -->
                <tr>
                  <td>R</td>
                  <td><input type="text" name="R"></td>
                </tr> 
                <tr>
                  <td>Subtransient X</td>
                  <td><input type="text" name="SubtransientX"></td>
                </tr>
                <tr>
                  <td>R-Negative</td>
                  <td><input type="text" name="RNegative"></td>
                </tr> 
                <tr>
                  <td>X-Negative</td>
                  <td><input type="text" name="XNegative"></td>
                </tr> 
                <tr>
                  <td>R-Zero</td>
                  <td><input type="text" name="RZero"></td>
                </tr>
                <tr>
                  <td>X-Zero</td>
                  <td><input type="text" name="XZero"></td>
                </tr> 
                <tr>
                  <td>Transient X</td>
                  <td><input type="text" name="TransientX"></td>
                </tr> 
                <tr>
                  <td>Synchronous X</td>
                  <td><input type="text" name="SynchronousX"></td>
                </tr>                 
              </table>
            </div>
          </div>
          
        </div> 
      </form>
      <p>

        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Bus Number</th>
              <th>ID</th>  
              <th>Machine Control Mode</th>
              <th>BASE</th>
              <th>Pgen</th> 
              <th>Qgen</th>
              <th>Qmax</th>
              <th>Qmin</th>
              <th>Pmax</th>
              <th>Pmin</th>
              <th>Mbase</th>
              <th>R Source</th> 
              <th>X Source</th>
            </tr>
        </thead>
          <tfoot>
            <tr>
              <th>Bus Number</th>
              <th>ID</th>                 
              <th>Machine Control Mode</th>
              <th>BASE</th>
              <th>Pgen</th> 
              <th>Qgen</th>
              <th>Qmax</th>
              <th>Qmin</th>
              <th>Pmax</th>
              <th>Pmin</th>
              <th>Mbase</th>
              <th>R Source</th> 
              <th>X Source</th>
            </tr>
          </tfoot>
          
          <!-- <tbody>
              {% for row in databasecolumn %}
              <tr>                                         
                  <td>{{ row.id }}</td>
                  <td contenteditable='false'>{{ row.user_name }}</td>
                  <td contenteditable='false'>{{ row.ZONE_Num }}</td>
                  <td contenteditable='false'>{{ row.ZONE_Name }}</td>
                      
              </tr>
              {% endfor %}
          </tbody> -->
          
        </table>    
         
      </p>
    </div>
    <form method="GET" action= {% url 'delete' 'Machine' %}>
      <input  type="submit" class="d-grid gap-2 col-6 mx-auto table-responsive btn btn-success" name="delete" value="刪除Machine所有資料">  

    </form>  
  </section>
{% endblock %}


