{% load static %}
<html>
    <head>    
    
        <link rel="stylesheet" href="{% static 'css/style1.css'%}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
            
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200&family=Unbounded:wght@400;700&display=swap" rel="stylesheet">
        
        <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">

        <link href="{% static 'css/bootstrap-icons.css'%}" rel="stylesheet">

        <link href="{% static 'css/tooplate-kool-form-pack.css'%}" rel="stylesheet">
    </head>
    <body>
        <h1>
            <header >
                <main>

                    <section class="row justify-content-between hero-section"  >
                        <div class="container">
                            <div class="row col-lg-5 col-12 mx-auto" >
                                <form method = "POST" >
                                    {% csrf_token %}
                                    
                                    {{form.as_p}}
                                    <input type= "submit" class="form-control" value = "註冊">

                                </form>    
                            </div>
                        </div>       
                    </section>
                </main>
            </header>
        </h1>  
        {% if messages %}
            {% for msg in messages %}
                <script>
                    alert('{{ msg.messages }}'); 
                </script>
            {% endfor %}
        {% endif %}                  
    </body>
</html>