{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="section inner-page">
    <input type="hidden" id="hidden_username" value="{{ username }}">
    <div class="container ">
        <form method="post"  name="dynamic_buttom" action={% url "dynamic" %} enctype="multipart/form-data" style="font-size:12pt;">
            {% csrf_token %}
            
            <!-- <div class="text-center mb-4">
                <h2>選擇sav檔</h2>
                <div>
                    <input type="file" name="sav_file" accept=".sav">
                </div>
            </div> -->
            <div class="text-center mb-4">
                <br>
                <h3>選擇sav檔</h3>
                <div id="yearCheckboxes">
                    {% for year in years %}
                        <label>
                            <input type="checkbox" class="{{ year }}" name="year" value="{{ year }}" onclick="checkOnlyOne(this); toggleAdditionalFields(this);"> {{ year }}
                            <!-- <input type="checkbox" class="{{ year }}" name="year" value="{{ year }}"> {{ year }} -->
                        </label>
                    {% endfor %}
                </div>
            </div>
            

            <!-- <div class="text-center mb-4">
                <br></br>
                <h3>選擇sav檔</h3>
                <div>
                    {% for year in years %}
                        <label>
                            <input type="checkbox" name="year" value="{{ year }}"> {{ year }}
                        </label>
                    {% endfor %}
                </div>
            </div> -->

            <div class="row justify-content-center mb-4" >
                <div class="col-md-6">
                    <div class="input-group mb-3" >
                        <input type="file" class="form-control" id="dv_file" name="dv_file">
                        <label class="input-group-text" for="file1">選擇dyr檔</label>
                        
                    </div>
                    <!-- <small class="form-text text-muted">未選擇任何檔案</small> -->
                </div>
            </div>

            <div class="row justify-content-center mb-4">
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="dll_file" name="dll_file">
                        <label class="input-group-text" for="file2">選擇dll檔</label>
                        <!-- <button type="button" class="btn btn-primary">上傳dll檔</button> -->
                    </div>
                    <!-- <small class="form-text text-muted">未選擇任何檔案</small> -->
                </div>
            </div>

            <div class="row justify-content-center mb-4">
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="co-gen_file" name="co-gen_file">
                        <label class="input-group-text" for="file3">選擇co-gen檔</label>
                        <!-- <button type="button" class="btn btn-primary">上傳co-gen檔</button> -->
                    </div>
                    <!-- <small class="form-text text-muted">未選擇任何檔案</small> -->
                </div>
            </div>
            <!-- <button type="button" class="btn btn-primary">上傳</button> -->
            <div class="row justify-content-center mb-4">
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <tr>
                            <td>initial time</td>
                            <td><input type="text" name="initial_time"  required=""></td>
                        </tr> 
                    </div>
                    <!-- <small class="form-text text-muted">未選擇任何檔案</small> -->
                </div>
            </div>
            <div class="row justify-content-center mb-4">
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <tr>
                            <td>bus fault time</td>
                            <td><input type="text" name="bus_fault_time"  required=""></td>
                        </tr> 
                    </div>
                    <!-- <small class="form-text text-muted">未選擇任何檔案</small> -->
                </div>
            </div>
            <div class="row justify-content-center mb-4">
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <tr>
                            <td>trip line time</td>
                            <td><input type="text" name="trip_line_time"  required=""></td>
                        </tr> 
                    </div>
                    <!-- <small class="form-text text-muted">未選擇任何檔案</small> -->
                </div>
            </div>
            <div class="row justify-content-center mb-4">
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <tr>
                            <td>clear fault time    </td>
                            <td><input type="text" name="clear_fault_time" required=""></td>
                        </tr>
                    </div>
                    <!-- <small class="form-text text-muted">未選擇任何檔案</small> -->
                </div>
            </div>





            <div id="additionalFields" style="display: none;">
                <div class="row justify-content-center mb-4">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="dynamic_machine_bus">選 machine bus</label>
                            <select class="form-control" id="dynamic_machine_bus" name="dynamic_machine_bus">
                                <!-- 添加選項 -->
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mb-4">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="machine_buses">已選擇的 machine bus</label>
                            <input type="text" class="form-control" id="selected_machine_buses" name="selected_machine_buses" >
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mb-4">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="dynamic_bus_fault">選bus fault</label>
                            <select class="form-control" id="dynamic_bus_fault" onchange="fetchTripLineList()" name="dynamic_bus_fault">
                                <!-- 添加選項 -->
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center mb-4">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="dynamic_trip_line">選trip line</label>
                            <select class="form-control" id="dynamic_trip_line" name="dynamic_trip_line">
                                
                                <!-- 添加選項 -->
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mb-4">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="selected_trip_lines">已選擇的 trip lines</label>
                            <input type="text" class="form-control" id="selected_trip_lines" name="selected_trip_lines">
                        </div>
                    </div>
                </div>                  
            </div>
          

            
            <div class="text-center">
                <button type="submit" >執行暫態</button>
            </div>
            <br></br>
            <p class="d-flex flex-column align-items-center">暫態結果</p>   
            <div class="d-flex flex-column align-items-center" id="errorcircuit-result" style="padding: 10px;text-align: center;margin: auto;font-size:12pt;" style="color: black;padding: 32px;text-align: center;">    
  
            </div>             
        </form>
    </div>
</div>
<!-- <script> src="{% static 'js/page/dynamic_script.js' %}"</script> -->
<script>
// =============================================================
// ========================  選擇 year後的動作  =================
// =============================================================     
    function checkOnlyOne(checkbox) 
    {
        var checkboxes = document.getElementsByName('year')
        checkboxes.forEach((item) => 
                    {
                        if (item !== checkbox) item.checked = false
                    }
                )
    }
    
    function toggleAdditionalFields(checkbox) {
        var checkboxes = document.getElementsByName('year');
        var additionalFields = document.getElementById('additionalFields');
        var selectedYear = Array.from(checkboxes).find(checkbox => checkbox.checked);
        if (selectedYear) 
        {
            additionalFields.style.display = 'block';
            fetch_MachineBus_List(selectedYear.value);
            fetch_BusFault_List(selectedYear.value);
        } 
        else 
        {
            additionalFields.style.display = 'none';
        }
    }


// =============================================================
// ========================  Machine Bus  ======================
// =============================================================    
    function fetch_MachineBus_List(year)
    {
        var username = document.getElementById('hidden_username').value;
    // 假設你的 API 端點是 '/api/bus-list/'
        fetch(`/api/machine-list/?year=machine_${year}&user=${username}&labeltype=machine`)
            .then(response => response.json())
            .then(jsonResponse => {
                if (jsonResponse.data) {
                    populate_MachineBus_Dropdown(jsonResponse.data);
                } else {
                    console.error('API response does not contain data');
                }
            })
            .catch(error => {
                console.error('Error fetching bus list:', error);
            });
    }

    function populate_MachineBus_Dropdown(machineList) 
    {
        
        var select_machine = document.getElementById('dynamic_machine_bus');
        select_machine.innerHTML = ''; // 清空现有选项

        var defaultOption = document.createElement('option');
        defaultOption.textContent = "請選擇";
        defaultOption.value = "";
        select_machine.appendChild(defaultOption);
        
        
        machineList.forEach(machine => {
            var option_machine = document.createElement('option');
            option_machine.value = machine.num;  // 使用 'num' 作为值
            option_machine.textContent = `${machine.num}-${machine.name}-${machine.machine_id}`;  // 显示 'num' 和 'name'
            select_machine.appendChild(option_machine);
        });

        // 添加事件監聽器
        select_machine.addEventListener('change', updateSelectedMachineBuses);
    }
    function updateSelectedMachineBuses() {
        var select_machine = document.getElementById('dynamic_machine_bus');
        var inputField = document.getElementById('selected_machine_buses');
        var selectedOption = select_machine.options[select_machine.selectedIndex];
        
        if (selectedOption.value) {
            var currentValue = inputField.value;
            var newValue =  selectedOption.text;
            
            if (currentValue) 
            {
                // 檢查是否已經包含此選項，如果沒有才添加
                if (!currentValue.includes(newValue)) 
                {
                    inputField.value = currentValue + ', ' + newValue;
                }
                
            } else {
                inputField.value = newValue;
            }
            
            // 重置選擇
            // select_machine.value = '';
        }
    }

    // // 在頁面加載完成後執行
    // document.addEventListener('DOMContentLoaded', function() {
    //     // 確保 input field 可以編輯
    //     var inputField = document.getElementById('selected_machine_buses');
    //     inputField.readOnly = false;
    // });


// =============================================================
// ========================  bus fault  ========================
// =============================================================
    function fetch_BusFault_List(year)
    {
        var username = document.getElementById('hidden_username').value;
    // 假設你的 API 端點是 '/api/bus-list/'
        fetch(`/api/bus-list/?year=bus_${year}&user=${username}&labeltype=bus`)
            .then(response => response.json())
            .then(jsonResponse => {
                if (jsonResponse.data) 
                {
                    populateMachineDropdown(jsonResponse.data);
                    // 初始化 trip line 下拉選單
                    fetchTripLineList(document.getElementById('dynamic_bus_fault').value);                    
                } 
                else {
                    console.error('API response does not contain data');
                }
            })
            .catch(error => {
                console.error('Error fetching machine list:', error);
            });
    }

    function populateMachineDropdown(machineList) 
    {
        var select_machine = document.getElementById('dynamic_bus_fault');
        select_machine.innerHTML = ''; // 清空现有选项
        
        machineList.forEach(machine => {
            var option_machine = document.createElement('option');
            option_machine.value = machine.num;  // 使用 'num' 作为值
            option_machine.textContent = `${machine.num} - ${machine.name}`;  // 显示 'num' 和 'name'
            select_machine.appendChild(option_machine);
        });
        select_machine.addEventListener('change', updateBusFault);
    }    
    function updateBusFault() 
    {
       
        var inputField_trip_lines = document.getElementById('selected_trip_lines');
        inputField_trip_lines.value = "";    
    }    
    
// =============================================================
// ========================  TripLine  ========================
// =============================================================    
    function fetchTripLineList() {
        var year = document.querySelector('input[name="year"]:checked').value;
        var busFaultSelect = document.getElementById('dynamic_bus_fault');
        var busFaultNum = busFaultSelect.value;
        // var busFault = document.getElementById('dynamic_bus_fault').value;

        var username = document.getElementById('hidden_username').value;
        
        fetch(`/api/trip-line-list/?year=tripline_${year}&user=${username}&labeltype=tripline&busfaultnum=${busFaultNum}`)
            .then(response => response.json())
            .then(jsonResponse => {
                if (jsonResponse.data) {
                    populateTripLineDropdown(jsonResponse.data);
                } else {
                    console.error('API response does not contain data');
                }
            })
            .catch(error => {
                console.error('Error fetching trip line list:', error);
            });
    }

    function populateTripLineDropdown(tripLineList) {
        var select_trip = document.getElementById('dynamic_trip_line');
        select_trip.innerHTML = ''; // 清空現有選項
        // 添加默認的"請選擇"選項
        var defaultOption = document.createElement('option');
        defaultOption.textContent = "請選擇";
        defaultOption.value = "";
        select_trip.appendChild(defaultOption);

        tripLineList.forEach(tripLine => {
            var option = document.createElement('option');
            option.textContent = `${tripLine.num} - ${tripLine.name}- ${tripLine.circuit_id}`;
            // option.value = JSON.stringify({
            //     busFaultNum: busFaultNum,
            //     tripLineNum: tripLine.num,
            //     tripLineName: tripLine.name,
            //     tripLineId: tripLine.circuit_id // 假設 API 返回的數據中包含 id
            // });
            
            select_trip.appendChild(option);
        });
        // if (tripLineList.length === 1) {
        //     updateSelectedTripLines();
        // }         
        
        // 添加事件監聽器
        select_trip.addEventListener('change', updateSelectedTripLines);
    }    

    function updateSelectedTripLines() 
    {
        var select_trip_by_dynamic_trip_line = document.getElementById('dynamic_trip_line');
        var inputField_trip_lines = document.getElementById('selected_trip_lines');
        var selectedOption = select_trip_by_dynamic_trip_line.options[select_trip_by_dynamic_trip_line.selectedIndex];
        console.log(select_trip_by_dynamic_trip_line.selectedIndex);
        
        if (selectedOption.value) 
        {
            var currentValue = inputField_trip_lines.value;
            
            // var tripLineData = JSON.parse(selectedOption.value);
            var newValue = selectedOption.text;
            
            
            if (currentValue) 
            {
            // 檢查是否已經包含此選項，如果沒有才添加
                if (!currentValue.includes(newValue)) 
                {
                    inputField_trip_lines.value = currentValue + ', ' + newValue;
                }
            } 
            else 
            {
                inputField_trip_lines.value = newValue;
            }
            
            // 重置選擇
            // select.value = '';
        }
    }
    document.querySelector('form[name="dynamic_buttom"]')
        .addEventListener('submit', function(e) 
        {
            // 不需要阻止默認提交，因為我們希望表單正常提交
            var selectedMachineBuses = document.getElementById('selected_machine_buses').value;
            console.log("Submitting form with selected_machine_buses:", selectedMachineBuses);
            // 不需要阻止默認提交，因為我們希望表單正常提交
            var dynamic_trip_line = document.getElementById('selected_trip_lines').value;
            console.log("Submitting form with dynamic_trip_line:", dynamic_trip_line);            
            // 如果需要，可以在這裡進行額外的驗證或處理
            }
        );    
</script>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const executionResultDiv = document.getElementById('errorcircuit-result');

        function fetchExecutionStatus() {
            fetch("{% url 'dynamic_status' %}", {
                method: 'GET',
                headers: {
                    'X-CSRFToken': csrfToken,
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                // 根據不同狀態顯示不同的訊息和樣式
                switch(data.status) {
                  case 'wait':
                        executionResultDiv.innerHTML = `
                            <div class="alert alert-info" d-flex align-items-center justify-content-center">
                                <div class=" text-primary mr-2" role="status">
                                    <span class="sr-only">載入中...</span>
                                </div>
                                ${data.message}
                            </div>
                        `;
                        // 繼續輪詢
                        // setTimeout(fetchExecutionStatus, 5000);
                        break;

                    case 'processing':
                        executionResultDiv.innerHTML = `
                            <div class="alert alert-info" d-flex align-items-center justify-content-center">
                                <div class="spinner-border text-primary mr-2" role="status">
                                    <span class="sr-only">載入中...</span>
                                </div>
                                ${data.message}
                            </div>
                        `;
                        // 繼續輪詢
                        setTimeout(fetchExecutionStatus, 5000);
                        break;

                    case 'success':
                        executionResultDiv.innerHTML = `
                            <div class="alert alert-success" d-flex align-items-center justify-content-center">
                                <i class="fas fa-check-circle mr-2"></i>
                                ${data.message}
                            </div>
                        `;
                        break;

                    case 'error':
                        executionResultDiv.innerHTML = `
                            <div class="alert alert-danger" d-flex align-items-center justify-content-center">
                                <i class="fas fa-exclamation-triangle mr-2"></i>
                                ${data.message}
                            </div>
                        `;
                        break;

                    default:
                        executionResultDiv.innerHTML = `
                            <div class="alert alert-warning">
                                未知狀態
                            </div>
                        `;
                }
            })
            .catch(error => {
                executionResultDiv.innerHTML = `
                    <div class="alert alert-danger">
                        <i class="fas fa-exclamation-triangle mr-2"></i>
                        發生錯誤: ${error.message}
                    </div>
                `;
            });
        }

        // 立即開始獲取狀態
        fetchExecutionStatus();
    });
  </script>  
{% endblock %}