{% extends "base.html" %}

{% block content %}

  <section class="inner-page">

    <div class="container">
      <form method="GET" action= {% url 'write_to_raw' 'FIXEDSHUNT' %}> 
        
        <br></br>
        <div style="text-align: center; font-size:14pt;">
          
          <div>
            {% for year in years %}
              <input type="checkbox" id="{{ year }}" name="year" value="{{ year }}">
              <label for="{{ year }}">{{ year }}</label>
            {% endfor %}
          </div>
        
        </div>
        <br></br>
        <input  type="submit" style='font-size:12pt;' class="d-grid gap-2 col-6 mx-auto table-responsive btn btn-success" name="write" value="確定寫入">
        
        <!-- <p class="mb-4">ZONE Table </p> -->
        <br></br> 
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary" style="font-size:10pt;">Machine Data of {{ USER }}</h6>
          </div>
          <div class="card-body">
            <div class="table-responsive" style="font-size:10pt; height: 200px; overflow-y: scroll;" >
              
                
              <table>
                <tr>
                  <td>Bus Number</td> 
                  <td><input type="number" name="BusNumber"></td>
                </tr>                 
                <tr>
                  <td>ID</td>
                  <td><input type="text" name="ID"></td>
                </tr>    
                             
                <tr>
                  <td>G_Shunt</td>
                  <td><input type="text" name="G_Shunt"></td>
                </tr>               
                <tr>
                  <td>B_Shunt</td>
                  <td><input type="text" name="B_Shunt"></td>
                </tr>                 
              </table>
            </div>
          </div>
          
        </div> 
      </form>
      <p>

        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
              <tr>
                  <th>Bus Number</th>
                  <th>id</th>
                  <th>G_Shunt</th>
                  <th>B_Shunt</th>
              </tr>
          </thead>
          <tfoot>
              <tr>
                <th>Bus Number</th>
                <th>id</th>
                <th>G_Shunt</th>
                <th>B_Shunt</th>

              </tr>
          </tfoot>
          
          <!-- <tbody>
              {% for row in databasecolumn %}
              <tr>
                  <td>

                      <a class="edit-btn" href="{% url 'edit_table' 'ZONE' row.id  %}">Edit</a>
                      <a class="delete-btn" href="{% url 'edit_table' 'ZONE' row.id  %}">Delete</a>
              
                  </td>                                            
                  <td>{{ row.id }}</td>
                  <td contenteditable='false'>{{ row.user_name }}</td>
                  <td contenteditable='false'>{{ row.Bus_Num }}</td>
                  <td contenteditable='false'>{{ row.LOAD_Id }}</td>
                  <td contenteditable='false'>{{ row.Area_Num }}</td>
                  <td contenteditable='false'>{{ row.Owner_Num }}</td>
                  <td contenteditable='false'>{{ row.Pload_MW }}</td>
                  <td contenteditable='false'>{{ row.Qload_Mvar }}</td>
                      
              </tr>
              {% endfor %}
          </tbody> -->
          
      </table>
         
      </p>
    </div>
    <form method="GET" action= {% url 'delete' 'FIXEDSHUNT' %}>
      <input  type="submit" class="d-grid gap-2 col-6 mx-auto table-responsive btn btn-success" name="delete" value="刪除Machine所有資料">  

    </form>  
  </section>
{% endblock %}


