{% extends "base.html" %}
{% load static %}
{% block content %}

  <section class="inner-page">

    <div class="container">
      <form method="GET" action= {% url 'modelfy_data_of_which_Label' 'BUS' %}> 
        
        <br></br>
        <div style="text-align: center; font-size:14pt;">
          
          <div>
            {% for year in years %}
              <input type="checkbox" id="{{ year }}" name="year" value="{{ year }}">
              <label for="{{ year }}">{{ year }}</label>
            {% endfor %}
          </div>
        
        </div>
        <br></br>
        <input  type="submit" style='font-size:12pt;' class="d-grid gap-2 col-6 mx-auto table-responsive btn btn-success" name="write" value="確定修改">
        
        <!-- <p class="mb-4">ZONE Table </p> -->
        <br></br> 
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary" style="font-size:10pt;">BUS Data of {{ USER }}</h6>
          </div>
          
            
          <div class="card-body">
            <div class="table-responsive" style="font-size:10pt; height: 200px; overflow-y: scroll;" >
              
                
              <table>
                  
                <tr>
                  <td>BUS Number</td> 
                  <td><input type="text" name="BUSNumber" pattern="[0-9]+" required=""></td>
                </tr>

                <tr>
                  <td>Code</td>
                  <td><input type="text" name="Code" pattern="[0-9]+" required=""></td>
                </tr>   

                <tr>
                  <td>Area Num</td>
                  <td><input type="text" name="AreaNum" pattern="[0-9]+" required=""></td>
                </tr> 

                <tr>
                  <td>Zone Num</td>
                  <td><input type="text" name="ZoneNum" pattern="[0-9]+" required=""></td>
                </tr>
              
                <tr>
                    <td>Owner Num</td>
                    <td><input type="text" name="OwnerNum" pattern="[0-9]+" required=""></td>
                </tr>
                <tr>
                  <td>Base kV</td>
                  <td><input type="text" name="BasekV" pattern="[0-9]+\.[0-9]+" required=""></td>
                </tr>

                <tr>
                  <td>Voltage (pu)</td>
                  <td><input type="text" name="Voltage" pattern="[0-9]+\.[0-9]+" required=""></td>
                </tr>
              
                <tr>
                    <td>Angle (deg)</td>
                    <td><input type="text" name="Angel"  required=""></td>
                </tr>    
                <!-- pattern="[0-9]+\.[0-9]+" -->
                <tr>
                  <td>Normal Vmax (pu)</td>
                  <td><input type="text" name="NormalVmax" pattern="[0-9]+\.[0-9]+" required=""></td>
                </tr> 

                <tr>
                  <td>Normal Vmin (pu)</td>
                  <td><input type="text" name="NormalVmin" pattern="[0-9]+\.[0-9]+" required=""></td>
                </tr> 

                <tr>
                  <td>Emergency Vmax (pu)</td>
                  <td><input type="text" name="EmergencyVmax" pattern="[0-9]+\.[0-9]+" required=""></td>
                </tr> 


                <tr>
                  <td>Emergency Vmin (pu)</td>
                  <td><input type="text" name="EmergencyVmin" pattern="[0-9]+\.[0-9]+" required=""></td>
                </tr> 


                <tr>
                    <td>BUS_Name</td>
                    <td><input type="text" name="BUSName" required="" maxlength="8"></td>
                </tr>
                

              </table>
                

            </div>
          </div>
         
        </div>
           
      </form>
      
      <p>
        <div id="wrapper">

      
          <!-- Content Wrapper -->
          <div id="content-wrapper" class="d-flex flex-column">
  
              <!-- Main Content -->
              <div id="content">                      

                <div class="container-fluid">
                  <br></br>
                  <p class="mb-4">ZONE Table </p>

                  <!-- DataTales Example -->
                  <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary" style="font-size:10pt;">Bus Data of {{ USER }} in Database </h6>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive" style="font-size:10pt;">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                          <thead>
                            <tr>                                            
  
                              <th>id</th>
                              <th>username</th>
                              <th>BUS_Number</th>
                              <th>BUS_Name</th>
                              <th>Base_kV</th>
                              <th>Area_Num</th>
                              <th>Zone_Num</th>
                              <th>Owner_Num</th>
                              <th>Code</th>
                              <th>Voltage</th>
                              <th>Angel</th>
                
                              <th>Normal_Vmax</th>
                              <th>Normal_Vmin</th>
                              <th>Emergency_Vmax</th>
                              <th>Emergency_Vmin</th>
                              
                            </tr>
                          </thead>
                          <tfoot>
                            <tr>
                              <th>id</th>
                              <th>username</th>
                              <th>BUS_Number</th>
                              <th>BUS_Name</th>
                              <th>Base_kV</th>
                              <th>Area_Num</th>
                              <th>Zone_Num</th>
                              <th>Owner_Num</th>
                              <th>Code</th>
                              <th>Voltage</th>
                              <th>Angel</th>
                
                              <th>Normal_Vmax</th>
                              <th>Normal_Vmin</th>
                              <th>Emergency_Vmax</th>
                              <th>Emergency_Vmin</th>
                            </tr>
                          </tfoot>
                          
                          <tbody>
                            {% for row in databasecolumn %}
                            <tr>                                          
                              <td>{{ row.id }}</td>
                              <td contenteditable='false'>{{ row.user_name }}</td>
                              <td contenteditable='false'>{{ row.BUS_Number }}</td>
                              <td contenteditable='false'>{{ row.BUS_Name }}</td>
                              <td contenteditable='false'>{{ row.Base_kV }}</td>
                              <td contenteditable='false'>{{ row.Area_Num }}</td>
                              <td contenteditable='false'>{{ row.Zone_Num }}</td>                                            
                              <td contenteditable='false'>{{ row.Owner_Num }}</td>
                              <td contenteditable='false'>{{ row.Code }}</td>
                              <td contenteditable='false'>{{ row.Voltage }}</td>
                              <td contenteditable='false'>{{ row.Angel }}</td>   

                              <td contenteditable='false'>{{ row.Normal_Vmax }}</td>
                              <td contenteditable='false'>{{ row.Normal_Vmin }}</td>
                              <td contenteditable='false'>{{ row.Emergency_Vmax }}</td>
                              <td contenteditable='false'>{{ row.Emergency_Vmin }}</td>                                                                                         
                                  
                            </tr>
                            {% endfor %}
                          </tbody>
                            
                        </table>
                      </div>
                        
                    </div>

                  </div>

                </div>
  
              </div>
  
          </div>

        </div>     

         
      </p>
    </div>
    <form method="GET" action= {% url 'delete' 'BUS' %}>
      <input  type="submit" class="d-grid gap-2 col-6 mx-auto table-responsive btn btn-success" name="delete" value="刪除BUS所有資料">  

    </form>    
  </section>
{% endblock %}