{% extends "base.html" %}


{% block content %}
  <section class="inner-page">
    <div class="container">
      <p>
          <form style="width: 100%;padding: 10px;text-align: center;margin: auto;font-size:12pt;" method="POST" name="errorcircuit_buttom" action={% url "download_errorcircuit" %}>
              {% csrf_token %}
              <div style="text-align: center; font-size:14pt;">
                      
                <div>
                  {% for year in years %}
                  <input type="checkbox" id="{{ year }}" name="year" value="{{ year }}">
                  <label for="{{ year }}">{{ year }}</label>
                  {% endfor %}
                </div>
              
              </div> 
              <br></br>               
              <input type="submit" name="download_errorcircuit" id="submit_style" value="下載故障電流檔案"/>
              <br></br>
              <input type="submit" name="download_errorcircuit_log" id="submit_style" value="下載故障電流Log檔案"/>
          </form>                      
      </p>
    </div>
  </section>
{% endblock %}

