{% extends "base.html" %}


  
{% block content %}
<section class="inner-page">
  <div class="container">
    <p>
        <form style="width: 100%;padding: 10px;text-align: center;margin: auto;font-size:12pt;" method="POST" name="download_savefile_buttom" action={% url "download_savefile" %}>
            {% csrf_token %}
            <div style="text-align: center; font-size:14pt;">
                    
              <div>
                {% for year in years %}
                <input type="checkbox" id="{{ year }}" name="year" value="{{ year }}">
                <label for="{{ year }}">{{ year }}</label>
                {% endfor %}
              </div>
            
            </div> 
            <br></br>               
            <input type="submit" name="download_savefile_buttom" id="submit_style" value="下載sav檔案"/>
            
        </form>                      
    </p>
  </div>
</section>
{% endblock %}
